*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('photo.jpg'); 
    background-size: cover;
  background-repeat:no-repeat ;
  
  }

  .header{
    display: flex;
    color: white;
    justify-content: space-between;
    padding:70px;
  }
  .header .logo {
    display: flex;
    font-family: system-ui;

  }

  
  .header .navigation nav{
    padding-right: 60px;
  }
  .header .navigation nav a{
    color:white;
    padding-left: 70px;
    text-decoration: none;
    
  }

  .main{
    margin-left: 70px;
font-size: 20px;
    color:white;
    width:600px;

  }

  .main .title{

    font-size: 40px;
    margin-bottom: 50px;
  }

  .main .button{
    display: flex;
    background-color:rgba(0,0,0,0);
    color:white;
    padding:15px;
    margin-top: 50px;
    border-radius: 22px;
    border-color: white;
    border-width: 1px;
  }

  .main-box{

    display:flex;
    justify-content: space-between;
    align-items: center;
    
  }

 .box{
    margin-top: 300px;
    padding: 20px;
    padding-left: 10px;
    background-color: rgba(47, 46, 47, 0.3) ;
    padding-right: 470px;
    color:white;
    font-size: 25px;
    
  
  }

 .header .logo #company {
    font-weight: 800;
}
.header .logo #name {
    font-weight: 10;
}

