*{
    padding:0;
    margin: 0;
    font-family: system-ui;
}

.header{

    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
    box-shadow: 0px 2px 10px rgba(211, 122, 122, 0.3);
     
}


.header .logo {
    display: flex;
flex-direction: column;
gap: 0;
    opacity:0.7;
    padding-left:150px;
   
    
}

.header .logo h4 {
    align-item: flex-end;
    margin-top: -17px;
    }

.header .logo h4 span{
    color:orangered;
    font-size: 10px;
    padding-left: 27px;
   padding-top:0px;
}

.header .navigation nav {

    margin-right: 100px;
}

.header .navigation nav select{

    margin-left: 10px;
    padding: 5px 10px;
    outline: none;
    border: none;
    font-weight: bold;
}

.header .navigation nav a{

    text-decoration: none;
    margin-left: 10px;
    color:rgba(6, 6, 6, 0.4)

}
.header .navigation nav button{

    color:white;
    padding: 8px 25px;
    border:none;
    border-radius: 5px ;
    margin-left: 10px;
    text-align:center;

}

.title{

    display: flex;
    margin: 100px;
    height:150px;
    margin-bottom: 30px;
    
}

.title h1{
    opacity: 0.6;
    padding-top:70px;
}

.photo-details{
    display: flex;
    justify-content: space-around;
}

.photo-details .details .para{
    width:600px;
    margin-bottom:10px ;
    margin-left: 100px;
    font-size: larger;

}

.button-item {
    display: flex;
    flex-gap: 10px;
    }
    
    .button-item button {
    
        background-color: rgb(11, 164, 195);
        color:white;
        padding: 5px 15px;
        border:none;
        border-radius: 5px ;
        margin-left: 100px;
        text-align:center;
        margin-bottom: 8px;
    
    }
    
    
     .button-item.red button {
    background-color: orangered;
    PADDING:10px 20px;
    }
    
    
    .button-item p {
        font-size: 15px;
   
        margin-left: 10px;
    
    
    }
    

.photo-details .photo{

    margin:100px;
    
}


.footer{
    display:flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
}

.footer p{

    opacity: 0.7;
}

.footer .F-logos{

    display:flex;
}

.footer .F-logos .logos img{

    width:50px;
    height:50px;
   
}